/* HIDDING INPUT ARROWS*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: -webkit-fill-available;
}

a {
  text-decoration: none;
  color: inherit;
}
