@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

@import '_utilities';

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: -webkit-fill-available;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(#49a8f5, #2198fa);
  font-family: 'Mulish', sans-serif;
}

.title {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 300;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 200;

  &__input {
    margin-left: 8px;
    margin-right: 8px;
    width: 38px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    font-weight: 300;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.4);
    -webkit-appearance: none;
    outline: none;

    &:invalid {
      border: 1px solid rgba(255, 0, 0, 0.6);
    }
  }

  &__done {
    margin: 0px 5px;
    font-weight: 300;
  }

  &__goal {
    margin-left: 5px;
    font-weight: 300;
  }

  &__btn {
    margin: 0;
    margin-left: 8px;
    width: 34px;
    height: 34px;
    background-size: 30px 30px;
    border-radius: 50%;

    &_ok {
      background-image: url('/src/img/confirm.svg');
    }

    &_change {
      background-image: url('/src/img/shuffle.svg');
      background-size: 25px 25px;
    }
  }
}

.glass {
  position: relative;
  height: 320px;
  width: 150px;
  border: 1px solid #1990f1bd;
  border-top: none;
  border-radius: 6px 6px 45px 45px;
  user-select: none;
  overflow: hidden;

  &__percentage {
    position: absolute;
    color: #3494e4;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 0.3s ease-in-out;
    color: #3494e4;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1.2;
  }

  &__filled {
    height: 100%;
    background-color: #69b4f1;
  }
}

.stats {
  position: fixed;
  z-index: 10;
  width: 80%;
  max-width: 400px;
  height: 65%;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);

  &__close {
    position: absolute;
    top: -5px;
    right: -5px;
    background-image: url('/src/img/cancel-stats.svg');
    background-size: 15px 15px;
  }

  &__btn {
    position: absolute;
    bottom: -60px;

    &:disabled {
      opacity: 0.6;
      cursor: default;
    }

    &_left {
      left: 32.5%;
      background-image: url('/src/img/left-arrow.svg');
    }

    &_right {
      right: 32.5%;
      background-image: url('/src/img/right-arrow.svg');
    }
  }

  canvas {
    width: 100%;
    height: 100%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
}

.drink-info {
  margin-bottom: 3px;
  font-weight: 400;

  &__value {
    font-weight: 200;
  }
}

.footer {
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 200;

  &__link {
    font-weight: 400;
  }
}

@import '_controls', '_media';
